html, body{
    background: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #1e1e2f, #2a2a4f);

    background-image: url("/img/catalogo_games.jpg"); /* ajuste o caminho se necessário */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* camada escura */
    z-index: 0;
  }

/* Estilos gerais para o container de login */
.login-container {
    margin-top: 1%;
    margin-bottom: 5%;
    border-radius: 16px;
    overflow: hidden;
    height: 550px;
}

.logo-login img {
    width: 250px;
    margin: auto;
    display: block;
    filter: drop-shadow(0 0 8px #00f0ff); /* Destacando a logo com luz azul neon*/
}

/* Estilo para o campo de senha e ícone */
.form-group {
    position: relative;
    text-align: center;
    padding: 7px;
}

#inputsenha {
    padding-right: 10px; /* Espaço extra à direita para o ícone */
}

/* Ícone do olho dentro do campo de senha */
#btn-senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #666; /* Cor do ícone */
}

#msg {
    color: #ec2323;
    margin-top: 25px;
}

/* Outros estilos do layout */
.cadastro-container {
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 9%;
    background: linear-gradient(145deg, #1e1e2f, #121212);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #fff;
}

.login-name {
    margin-top: 7%;
    margin-bottom: 12%;
}

.login-form-2 {
    padding: 9%;
    background: linear-gradient(145deg, #1e1e2f, #121212);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    margin-top: 20%;
    color: #fff;
}

.login-form-2 p {
    text-align: center;
    color: #fff;
}

.login-form-cadastro {
    background: linear-gradient(145deg, #1e1e2f, #121212);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5rem;
}

.row-cadastro {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}

.icon-top {
    font-size: 48px;
    color: #fff;
    margin-bottom: 10px;
  }

.login-form-cadastro h3 {
    text-align: center;
    margin-bottom: 6%;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    margin-top: 5%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnSubmit:hover {
   transform: scale(1.05);
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: underline;
    color: #fff;
}

.form-group-cadastro {
    margin-left: 20%;
    margin-right: 20%;
}

.mensagem-cadastro {
    color: #9dccfc;
    font-weight: 600;
}



@media (max-width: 768px) {
    .container {
      flex-direction: column;
      margin: 30px;
    }
  }